body {
    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif;
    color: #000000;
}

header {
    background-color: #17072b;
    color: #FFFFFF;
    text-align: center;
    padding: 30px 0;
}

header h1 {
    font-family: "Tahoma", sans-serif;
    font-weight: 700;
    font-size: 45px;
    margin: 0;
}

nav {
    margin-top: 20px;
}

nav a {
    color: #FFFFFF;
    text-decoration: none;
    margin: 0 15px;
    font-size: 24px;
}

/* Layout Container */
main {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    min-height: 500px;
}

/* Left Content */
.welcome-section {
    flex: 2;
    padding: 40px;
}

.welcome-section h2 {
    font-size: 32px;
}

.main-img {
    width: 100%;
    margin-top: 20px;
}

/* Sidebar */
.sidebar {
    flex: 1;
    background-color: #172d67;
    color: #FFFFFF;
    padding: 40px;
}

.sidebar h2 {
    font-size: 32px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    font-size: 18px;
    line-height: 2;
}

.side-images {
    display: flex;
    gap: 10px;
    margin-top: 30px;
}

.side-images img {
    width: 48%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

/* Footer */
footer {
    background-color: #8c15e9;
    color: #FFFFFF;
    text-align: center;
    padding: 10px 0;
    font-size: 18px;
}